<form class="w-96 mx-auto py-10">
  <h2 id="shadow-inputs">Shadow inputs</h2>
  <p class="mb-6">Sign up to our product today for free</p>
  <div class="mb-6">
    <label for="email" class="mb-2 block text-sm font-medium text-gray-900">Your email</label>
    <input type="email" id="email" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" placeholder="name@flowbite.com" required />
  </div>
  <div class="mb-6">
    <label for="password" class="mb-2 block text-sm font-medium text-gray-900">Your password</label>
    <input type="password" id="password" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" required />
  </div>
  <div class="mb-6">
    <label for="repeat-password" class="mb-2 block text-sm font-medium text-gray-900">Repeat password</label>
    <input type="password" id="repeat-password" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" required />
  </div>
  <div class="mb-6 flex items-start">
    <div class="flex h-5 items-center">
      <input id="terms" aria-describedby="terms" type="checkbox" class="focus:ring-3 h-4 w-4 rounded border border-gray-300 bg-gray-50 focus:ring-blue-300" required />
    </div>
    <div class="ml-3 text-sm">
      <label for="terms" class="font-medium text-gray-900">I agree with the <a href="#" class="text-blue-600 hover:underline">terms and conditions</a></label>
    </div>
  </div>
  <button type="submit" class="rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 ">Register new account</button>
</form>
